/acl
/altio
/BUILDING
/cap
/cgroups
/CHANGES
/COPYING.agpl-v3
/COPYING.gpl-v3
/COPYING.lgpl-v3
/daemons
/dirs_links
/filebuff
/fileio
/filelock
/files
/filesys
/getopt
/inotify
/lib
/libtlpi.a
/loginacct
/Makefile
/Makefile.inc
/Makefile.inc.FreeBSD
/Makefile.inc.HP-UX
/Makefile.inc.MacOSX
/Makefile.inc.Solaris
/Makefile.inc.Tru64
/memalloc
/mmap
/namespaces
/pgsjc
/pipes
/pmsg
/proc
/proccred
/procexec
/procpri
/procres
/progconc
/psem
/pshm
/pty
/README
/seccomp
/shlibs
/signals
/sockets
/svipc
/svmsg
/svsem
/svshm
/sysinfo
/syslim
/threads
/time
/timers
/tty
/users_groups
/vdso
/vmem
/xattr
